/__pycache__
/.ipynb_checkpoints
/3d_video_frames
*.ipynb
/test1
/train
/checkpoints
*.pyc
*.txt
!models/
models/*
!models/mrd_happy_angry_all_rbf_concat_ind30_len10
!models/mrd_man_woman_all
!models/mrd_happy_angry_linear
/low_dim_frames
/mrd_testing
*.npy
